@(text: Option[String], category: Option[String],
        debug: Option[String])

<h1>Классификатор</h1>

<form action="/classify" method="GET">
    <textarea name="text">@text</textarea>
    <button type="submit">Классифицировать</button>
</form>

@if(category.nonEmpty) {
    <p>Результат: @category</p>

    <p>@debug</p>
}