@(texts: List[actors.NewsFeedActor.News])

<h1>Классификатор ленты новостей</h1>

<ul>
    @if(texts.nonEmpty) {
        @for(text <- texts) {
            <li>Результат: @text.classification</li>

            @if(text.source.nonEmpty) {
                <p>Источник: @text.source.get.name</p>

                <img src=@text.source.get.photo>
            }

            <p>Новость: @Html(text.text)</p>
        }
    } else {
        <p>Данные загружаются</p>
    }
</ul>